body {
    background-image: url(b.jpg);
}
nav {
    text-align: center;
    font-family: sans-serif;
    color: blue;
    border-style: solid;
    border-color: black;
    background-image: url(b2.jpg);
}
a {
    text-decoration: none;
    color: inherit;
    background-color: yellow;
}
#inher {
    text-shadow: 2px 2px white;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: black;
}
.con {
    background: black;
    width: 45%;
    height: 100%;
    color: white;
    text-align: center;
}
.on h2, .on button {
    display: inline;
}